/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Chi tiết sản phẩm */
.product-detail {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.product-images {
    display: flex;
    gap: 10px;
}

.thumbnail-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnail-list img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.thumbnail-list img:hover {
    border-color: #000;
}

.main-image img {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
}

.product-info {
    max-width: 300px;
}

.product-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.product-info select{
    margin: 10px;
}

.product-info button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-info button:hover {
    background-color: #555;
}

/* Có thể bạn sẽ thích */
.related-products {
    margin: 20px;
    text-align: center;
}

.related-products h2 {
    margin-top: 35px;
    margin-bottom: 10px;
}

.product-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.product-slider .product {
    text-align: center;
}

.product-slider .product img {
    width: 100%;
    height: auto;
}

.product-slider .product p {
    margin-top: 5px;
}
